.header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.settings {
  background-image: url("../../../assets/icons/settings.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.buttonsContainer {
  display: flex;
  gap: 20px;
}

.buttonsContainer a {
  font-size: 28px;
  background-color: #ff05ea;
  padding: 5px 10px;
  color: #000;
}
